# Ignore build directories 
/build/

# Ignore all .o object files 
*.o

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp


# Ignore .vscode directory (configuration files for Visual Studio Code)
/.vscode/

# Ignore Vim swap files
*.swo
*.swp

# Ignore backup files
*.bak


# Ignore archive files like zip, rar, tar.gz, tar.bz2
*.zip
*.rar
*.tar.gz
*.tar.bz2


